@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #22223b;
    margin: 20px;
    border-radius: 20px;
}

* {
    margin: 0;
}

nav {
    display: flex;
    padding: 14px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: inherit;

    justify-content: space-between;
    align-items: center;

    background-color: #4a4e69;
    color: white;
}

nav a {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

nav a::after {
    position:relative;
    display: block;
    content: "";
    width: 0%;
    left: 50%;
    height: 4px;
    opacity: 0;
    border-radius: 2px;

    background-color: #fff;
    transition: 0.2s;
}
a:hover::after {
    width: 100%;
    left: 0%;
    opacity: 1;
}

.Question {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    color: white;
    padding: 20px 20px;
    height: fit-content;
    border-radius: inherit;

    background-color: #4a4e69;
}

.Question h1 {
    font-weight: 300;
    white-space: pre-line;
}
.Question h2 {
    font-weight: 500;
    font-size: 20px;
    white-space: pre-line;
}

.Question h1::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 20px 0px;
}

img {
    transition: 0.2s;
}
img:hover {
    filter: opacity(0.5);
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;

    color: white;
}