@font-face {
    font-family: "Zen";
    font-weight: lighter;
    src: url("ZenLight.ttf");
}

@font-face {
    font-family: "Zen";
    font-weight: bold;
    src: url("ZenBold.ttf");
}

body {
    font-family: "Zen";
    font-weight: bold;
    background-color: aliceblue;
    margin: 0;
}

nav {
    position: fixed;
    top: -100%;
    width: 100%;
    box-sizing: border-box;
    background-color: lightblue;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 20px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: white;
    font-weight: bold;
    margin: 0;
}

nav .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;


}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

a:hover {
    color: lightcoral;
}

p {
    color: white;
    background-color: lightblue;
    padding: 20px 20px;
    text-overflow: inherit;
    height: fit-content;
    /* border-radius: 20px; */
}

p::before {
    font-size: 32px;

    content: "Вопрос: "attr(data-q);
}

p::after {
    font-size: 24px;
    content: "\A Ответ: "attr(data-a);
    white-space:pre-line;
}